.mediaViewInfo {
	--web-view-name: Connexion;
	--web-view-id: Connexion;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Connexion;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Connexion {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(245,248,250,1);
	overflow: hidden;
	--web-view-name: Connexion;
	--web-view-id: Connexion;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_4_bic {
	fill: rgba(0,0,0,0);
	stroke: rgba(244,78,74,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Rectangle_4_bic {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 768px;
	left: 0px;
	top: 0px;
}
#Groupe_843_bid {
	position: absolute;
	width: 127.337px;
	height: 31.577px;
	left: 120.77px;
	top: 63.757px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Accueil.html;
	cursor: pointer;
}
#Trac_4514_bie {
	fill: rgba(244,78,74,1);
}
.Trac_4514_bie {
	overflow: visible;
	position: absolute;
	width: 15.568px;
	height: 15.844px;
	left: 0px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_4515_bif {
	fill: rgba(244,78,74,1);
}
.Trac_4515_bif {
	overflow: visible;
	position: absolute;
	width: 16.275px;
	height: 22.902px;
	left: 44.785px;
	top: 8.675px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_4516_big {
	fill: rgba(244,78,74,1);
}
.Trac_4516_big {
	overflow: visible;
	position: absolute;
	width: 15.568px;
	height: 15.844px;
	left: 63.586px;
	top: 8.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_4517_bih {
	fill: rgba(244,78,74,1);
}
.Trac_4517_bih {
	overflow: visible;
	position: absolute;
	width: 9.586px;
	height: 15.306px;
	left: 82.586px;
	top: 8.788px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_4518_bii {
	fill: rgba(244,78,74,1);
}
.Trac_4518_bii {
	overflow: visible;
	position: absolute;
	width: 4.453px;
	height: 15.136px;
	left: 94.922px;
	top: 8.958px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_4519_bij {
	fill: rgba(244,78,74,1);
}
.Trac_4519_bij {
	overflow: visible;
	position: absolute;
	width: 23.594px;
	height: 15.476px;
	left: 103.742px;
	top: 8.618px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_4520_bik {
	fill: rgba(244,78,74,1);
}
.Trac_4520_bik {
	overflow: visible;
	position: absolute;
	width: 5.303px;
	height: 5.273px;
	left: 94.484px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_4521_bil {
	fill: rgba(244,78,74,1);
}
.Trac_4521_bil {
	overflow: visible;
	position: absolute;
	width: 23.146px;
	height: 20.363px;
	left: 18.594px;
	top: 6.531px;
	transform: matrix(1,0,0,1,0,0);
}
#Candidats_bim {
	left: 620.59px;
	top: 66.509px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Candidats.html;
	cursor: pointer;
	line-height: 16.80000114440918px;
	margin-top: -1.4000005722045898px;
	text-align: left;
	font-family: Gilroy-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(36,38,38,1);
}
#Mentors_bin {
	left: 730.59px;
	top: 66.509px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Mentors.html;
	cursor: pointer;
	line-height: 16.80000114440918px;
	margin-top: -1.4000005722045898px;
	text-align: left;
	font-family: Gilroy-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(36,38,38,1);
}
#Employeurs_bio {
	left: 829.59px;
	top: 66.509px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employeurs.html;
	cursor: pointer;
	line-height: 16.80000114440918px;
	margin-top: -1.4000005722045898px;
	text-align: left;
	font-family: Gilroy-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(36,38,38,1);
}
#Partenaires_bip {
	left: 951.59px;
	top: 66.509px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Partenaires.html;
	cursor: pointer;
	line-height: 16.80000114440918px;
	margin-top: -1.4000005722045898px;
	text-align: left;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(36,38,38,1);
}
#_propos_biq {
	left: 1073.59px;
	top: 66.509px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 16.80000114440918px;
	margin-top: -1.4000005722045898px;
	text-align: left;
	font-family: Gilroy-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(36,38,38,1);
}
#Connexion_bir {
	left: 1175.59px;
	top: 66.509px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 16.80000114440918px;
	margin-top: -1.4000005722045898px;
	text-align: left;
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(244,78,74,1);
}
#Quel_plaisir__de_vous_revoir {
	left: 118.344px;
	top: 240.787px;
	position: absolute;
	overflow: visible;
	width: 344px;
	white-space: nowrap;
	line-height: 65px;
	margin-top: -5px;
	text-align: left;
	font-family: Exo 2;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(36,38,38,1);
}
#Veuillez_entrer_vos_accrditati {
	left: 121.287px;
	top: 409.446px;
	position: absolute;
	overflow: visible;
	width: 441.594px;
	height: 127.99578857421875px;
	line-height: 35px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Gilroy;
	font-style: normal;
	font-weight: lighter;
	font-size: 18px;
	color: rgba(36,38,38,1);
}
#CONNEXION {
	left: 120.688px;
	top: 213.763px;
	position: absolute;
	overflow: hidden;
	width: 111.791px;
	height: 16.857101440429688px;
	line-height: 16.80000114440918px;
	margin-top: -1.4000005722045898px;
	text-align: left;
	font-family: Gilroy-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(36,38,38,1);
	letter-spacing: 0.2px;
}
#Groupe_782_biv {
	position: absolute;
	width: 71.325px;
	height: 1px;
	left: 123.236px;
	top: 501.768px;
	overflow: visible;
}
#Ligne_3_biw {
	fill: transparent;
	stroke: rgba(245,59,49,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ligne_3_biw {
	overflow: visible;
	position: absolute;
	width: 71.324px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_838 {
	position: absolute;
	width: 59.654px;
	height: 1px;
	left: 203.799px;
	top: 501.768px;
	overflow: visible;
}
#Ligne_3_biy {
	fill: transparent;
	stroke: rgba(245,59,49,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ligne_3_biy {
	overflow: visible;
	position: absolute;
	width: 59.654px;
	height: 1px;
	left: 0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_839 {
	position: absolute;
	width: 88.337px;
	height: 1px;
	left: 274.799px;
	top: 501.768px;
	overflow: visible;
}
#Ligne_3_bi {
	fill: transparent;
	stroke: rgba(245,59,49,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ligne_3_bi {
	overflow: visible;
	position: absolute;
	width: 88.338px;
	height: 1px;
	left: 0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_840 {
	position: absolute;
	width: 88.187px;
	height: 1px;
	left: 394.799px;
	top: 501.768px;
	overflow: visible;
}
#Ligne_3_bja {
	fill: transparent;
	stroke: rgba(245,59,49,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ligne_3_bja {
	overflow: visible;
	position: absolute;
	width: 88.188px;
	height: 1px;
	left: 0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_842 {
	position: absolute;
	width: 370.753px;
	height: 264.305px;
	left: 874px;
	top: 214px;
	overflow: visible;
}
#Rectangle_157 {
	fill: rgba(245,248,250,1);
	stroke: rgba(215,220,223,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Rectangle_157 {
	position: absolute;
	overflow: visible;
	width: 371.754px;
	height: 69.745px;
	left: 0px;
	top: 0px;
}
#Nom_dutilisateur {
	left: 25.391px;
	top: 20.373px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	line-height: 21.600000381469727px;
	margin-top: -1.8000001907348633px;
	text-align: left;
	font-family: Exo 2;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(36,38,38,1);
}
#Rectangle_158 {
	fill: rgba(245,248,250,1);
	stroke: rgba(215,220,223,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Rectangle_158 {
	position: absolute;
	overflow: visible;
	width: 371.754px;
	height: 69.745px;
	left: 0px;
	top: 97.56px;
}
#Mot_de_passe {
	left: 25.391px;
	top: 117.932px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	line-height: 21.600000381469727px;
	margin-top: -1.8000001907348633px;
	text-align: left;
	font-family: Exo 2;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(36,38,38,1);
}
#Groupe_841 {
	position: absolute;
	width: 370.753px;
	height: 69.153px;
	left: 0px;
	top: 195.152px;
	overflow: visible;
}
#Rectangle_159 {
	fill: rgba(244,78,74,1);
}
.Rectangle_159 {
	position: absolute;
	overflow: visible;
	width: 370.754px;
	height: 69.153px;
	left: 0px;
	top: 0px;
}
#Connexion_bja {
	left: 141.416px;
	top: 20.314px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	line-height: 21.600000381469727px;
	margin-top: -1.8000001907348633px;
	text-align: left;
	font-family: Exo 2;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Groupe_856 {
	position: absolute;
	width: 162.66px;
	height: 25.552px;
	left: 974.039px;
	top: 502px;
	overflow: visible;
}
#Rectangle_160 {
	fill: rgba(245,248,250,1);
	stroke: rgba(215,220,223,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Rectangle_160 {
	position: absolute;
	overflow: visible;
	width: 26.551px;
	height: 26.552px;
	left: 0px;
	top: 0px;
}
#Rester_connect {
	left: 36.66px;
	top: 0.453px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	line-height: 21.600000381469727px;
	margin-top: -1.8000001907348633px;
	text-align: left;
	font-family: Exo 2;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(36,38,38,1);
}
#Groupe_854 {
	position: absolute;
	width: 158.385px;
	height: 21.996px;
	left: 892.115px;
	top: 562.349px;
	overflow: visible;
}
#Ligne_51 {
	fill: transparent;
	stroke: rgba(36,38,38,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ligne_51 {
	overflow: visible;
	position: absolute;
	width: 158.385px;
	height: 1px;
	left: 0px;
	top: 21.996px;
	transform: matrix(1,0,0,1,0,0);
}
#Nom_dutilisateur_oubli_ {
	left: 0.885px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	line-height: 21.600000381469727px;
	margin-top: -3.8000001907348633px;
	text-align: left;
	font-family: Exo 2;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(36,38,38,1);
}
#Groupe_855 {
	position: absolute;
	width: 133.781px;
	height: 21.996px;
	left: 1091.719px;
	top: 562.349px;
	overflow: visible;
}
#Trac_6841 {
	fill: rgba(0,0,0,0);
	stroke: rgba(36,38,38,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trac_6841 {
	overflow: visible;
	position: absolute;
	width: 133.781px;
	height: 1.138px;
	left: 0px;
	top: 21.857px;
	transform: matrix(1,0,0,1,0,0);
}
#Mot_de_passe_oubli_ {
	left: 1.08px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	line-height: 21.600000381469727px;
	margin-top: -3.8000001907348633px;
	text-align: left;
	font-family: Exo 2;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(36,38,38,1);
}
#Rectangle_161 {
	fill: transparent;
}
.Rectangle_161 {
	position: absolute;
	overflow: visible;
	width: 82px;
	height: 23px;
	left: 113px;
	top: 479px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Candidats.html;
	cursor: pointer;
}
#Rectangle_162 {
	fill: transparent;
}
.Rectangle_162 {
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 23px;
	left: 199px;
	top: 479px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Mentors.html;
	cursor: pointer;
}
#Rectangle_163 {
	fill: transparent;
}
.Rectangle_163 {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 23px;
	left: 275px;
	top: 479px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employeurs.html;
	cursor: pointer;
}
#Rectangle_164 {
	fill: transparent;
}
.Rectangle_164 {
	position: absolute;
	overflow: visible;
	width: 96px;
	height: 23px;
	left: 391px;
	top: 479px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Partenaires.html;
	cursor: pointer;
}
#Ellipse_1 {
	fill: rgba(36,38,38,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 1069px;
	top: 571px;
}